/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 22px;
    background-image: linear-gradient(to right, #f5f5dc, #ffe4c4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* Header styles */
header {
    color: white;
    padding: 20px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#profile-pic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 20px;
}

/* Navigation styles */
nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #00bfff;
    background-color: rgba(255, 255, 255, 0.2);
}

.slideshow-container {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: -150px;
}

.slide-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.slide-wrapper img {
    width: 275px;
    height: auto;
    object-fit: cover;
    margin: 0 15px;
}

/* Main content styles */
main {
    padding-top: 180px;
    width: 90%;
    margin: auto;
}

/* Ensure that all full-page sections have enough padding at the top 
   to account for the fixed header's height and a negative margin to align them properly. */
.full-page {
    min-height: 75vh;
    width: 100%;
    padding: 40px;
    padding-top: 140px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    padding-top: -50px;
    margin-top: -300px;
}

.full-page h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
}

#projects {
    margin-top: -140px;
    padding-top: 220px;
}

.projects-container {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: none;
    color: #000;
}

.project {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-icon {
    flex: 0 0 90px;
    margin-right: 20px;
}

.project-icon img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.project-description {
    flex: 1;
    text-align: left;
}

.source-code {
    display: inline-block;
    padding: 10px 20px;
    background-color:#666;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

.source-code:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

#resume img {
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    height: 300px;
}

#resume img:hover {
    transform: scale(1.05);
}

#experience {
    padding-top: 300px;
    margin-top: -220px;
}

/* Contact Section Styles */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 100px;
    min-height: 75vh;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

#contact p, #contact a {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
}

#contact a {
    color: #0056b3;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contact a:hover {
    background-color: #e2e2e2;
}

/* Footer styles */
footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 900px) {
    body {
        font-size: 18px;
    }
    header {
        padding: 10px;
    }
    #profile-pic {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    nav ul li {
        margin-right: 10px;
    }
    .slideshow-container {
        height: 500px;
    }
    .slide-wrapper img {
        width: 200px;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slideshow-container {
        height: 300px;
    }
    .slide-wrapper img {
        width: 150px;
    }
    .project {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .project-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
    #contact {
        padding: 20px;
    }
}
