/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1.375rem;
    background-image: linear-gradient(to right, #f5f5dc, #ffe4c4); /* Gradient from beige to light cream */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures the background is fixed during scrolling */
    background-size: cover; /* Ensures the background covers the entire viewport */
    color: #333; /* Sets text color to dark grey for better readability against a light background */
    font-family: 'Segoe UI', Arial, sans-serif; /* Font style for the website */
}



/* Header styles */
header {
    color: white;
    padding: 1.25rem;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#profile-pic {
    width: 7.813rem;
    height: 7.813rem;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 1.25rem;
}

/* Navigation styles */
nav {
    margin-left: auto;
}

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        nav ul li {
            display: inline;
            margin-right:1.25rem;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
                padding: 0.625rem;
                transition: color 0.3s ease, background-color 0.3s ease;
            }

                nav ul li a:hover {
                    color: #00bfff; /* Light blue on hover */
                    background-color: rgba(255, 255, 255, 0.2); /* Slight background on hover */
                }


.slideshow-container {
    width: 100%; /* Full viewport width */
    height: 50rem; /* Fixed height */
    position: relative;
    display: flex;
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    overflow: hidden; /* Hide anything outside this container */
    margin-bottom: -9.375rem; /* Reduced bottom margin to decrease space to the next section */
}

.slide-wrapper {
    display: flex; /* Flexbox layout for images */
    width: 100%; /* Full width of the container */
    justify-content: space-evenly; /* Evenly space images */
    align-items: center; /* Vertically align images in the center */
}

    .slide-wrapper img {
        width: 17.188rem; /* Fixed width for each image */
        height: auto; /* Auto height to maintain aspect ratio */
        object-fit: cover; /* Cover fit to avoid distortion */
        margin: 0 0.938rem; /* Space between images */
    }






/* Main content styles */
main {
    padding-top: 11.25rem; /* Adjusting for the header height */
    width: 90%; /* Control the width of the main content area to not span the full page */
    margin: auto; /* Center the main content horizontally */
}

/* Ensure that all full-page sections have enough padding at the top 
   to account for the fixed header's height and a negative margin to align them properly. */
.full-page {
    min-height: 75vh;
    width: 100%;
    padding: 2.5rem; /* Consistent padding for better spacing */
    padding-top: 8.75rem; /* Reduced padding-top as compared to previous */
    margin-top: -6.25rem; /* Negative margin adjusted to pull the section upwards */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center alignment for better aesthetics */
    justify-content: center;
}

/* Specific adjustment for the About Me section if needed */
#about {
    padding-top: -3.125rem; /* Reduce this if the header is not very tall */
    margin-top: -18.75rem; /* Adjust based on actual header height */
}


    .full-page h2 {
        text-align: center; /* Center align all h2 headings */
        width: 100%; /* Ensure the headings are full width */
        margin-bottom: 1.875rem; /* Adds space below the heading */
        font-size: 1.75rem; /* Larger font size for section titles */
    }

/* Specific adjustment for the Projects section */
#projects {
    margin-top: -8.75rem; /* Adjust this value if the header is larger */
    padding-top: 13.75rem; /* Increased padding at the top to accommodate fixed header */
}

.projects-container {
    text-align: center; /* Center-aligns the headers */
    width: 100%;
    padding: 1.25rem;
    background-color: none; /* No specific background color for the section */
    color: #000; /* Sets text color */
}

.project {
    margin: 1.25rem auto;
    padding: 1.25rem;
    border: 0.063rem solid #ccc; /* Subtle border */
    width: 80%; /* Adjust width as necessary */
    display: flex;
    align-items: center; /* Vertically centers the items within each project */
    justify-content: space-around; /* Distributes space around items */
}

.project-icon {
    flex: 0 0 90px; /* Reduced flex basis to 80px */
    margin-right: 20px; /* Maintains space between the icon and the description */
}

    .project-icon img {
        width: 5.625rem; /* Explicitly sets the width of the image to 80px */
        height: 5.625rem; /* Explicitly sets the height of the image to 80px */
        object-fit: contain; /* Ensures the image scales correctly within the dimensions */
    }

.project-description {
    flex: 1; /* Allows the description to fill the remaining space */
    text-align: left; /* Aligns the text to the left */
}

.source-code {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color:#666; /* No background color */
    border: 1px solid #fff; /* White border */
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

    .source-code:hover {
        background-color: #fff; /* White background on hover */
        color: #000; /* Text color changes on hover */
        transform: scale(1.05); /* Slightly enlarges the image on hover */
    }

#resume img {
    border: 0.063rem solid #ccc; /* Adds a subtle border around the image */
    transition: transform 0.3s ease-in-out; /* Smooth transform effect on hover */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    width: 100%; /* Ensures the image is responsive and fits the container */
    max-width: 18.75rem; /* Reduces the maximum width to 400px */
    height: 18.75rem; /* Maintains the aspect ratio of the image */
}

    #resume img:hover {
        transform: scale(1.05); /* Slightly enlarges the image on hover */
    }



/* Additional specific adjustments for the 'experience' section if needed */
#experience {
    padding-top: 18.75rem; /* Increase padding if the header is larger or for better visibility */
    margin-top: -13.75rem; /* Corresponding negative margin */
}


/* Contact Section Styles */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically if there is enough space */
    text-align: center; /* Ensures text and inline elements are centered */
    width: 100%; /* Takes full width to allow for centering within the parent */
    padding: 6.25rem; /* Optional: Adjust padding as needed for spacing */
    min-height: 75vh; /* Ensures the section takes up sufficient vertical space */
}

    #contact h2 {
        margin-bottom: 1.25rem; /* Space below the section heading */
        font-size: 1.75rem; /* Larger font size for visibility */
    }

    #contact p, #contact a {
        font-size: 1.125rem; /* Ensures legibility */
        margin-bottom: 0.625rem; /* Spacing between contact elements */
        color: #666; /* Styling for text color */
    }

    #contact a {
        color: #0056b3; /* Style for links to make them stand out */
        text-decoration: none; /* Optional: removes underline from links */
        padding: 0.5rem 1rem; /* Padding for better touch interaction */
        background-color: none; /* Background color for links for visibility */
        border-radius: 0.313rem; /* Rounded corners for aesthetic appeal */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

        #contact a:hover {
            background-color: #e2e2e2; /* Slightly darker on hover for interaction feedback */
        }



/* Footer styles */
footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%; /* Ensure the footer spans the full width of the page */
}


/* For screens smaller than 768px (standard mobile devices) */
@media (max-width: 767px) {
    body {
        font-size: 0.75rem; /* Adjust font size for smaller screens */
    }

    header {
        padding: 8rem; /* Adjust header padding */
        text-align: center; /* Center align text */
    }

    #profile-pic {
        display: none; /* Hide profile picture on smaller screens */
    }

    /* Name and description */
    .name {
        font-size: 1.5rem; /* Larger font size for name */
        margin-bottom: 0.5rem; /* Space below name */
    }

    .description {
        font-size: 1rem; /* Smaller font size for description */
        color: #888; /* Lighter color for description */
        margin-bottom: 1rem; /* Space below description */
    }

    nav {
        margin: 0 auto; /* Center align navigation */
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center; /* Center align links */
    }

    nav ul li {
        display: inline-block; /* Display links horizontally */
        margin-right: 1rem; /* Space between links */
    }

    nav ul li:last-child {
        margin-right: 0; /* Remove margin from last link */
    }

    nav ul li a {
        display: inline-block; /* Display links as block to have padding */
        padding: 0.5rem; /* Padding around links */
    }

    .slideshow-container {
        height: 12rem; /* Adjust slideshow height for smaller screens */
        margin-top: 4rem; /* Adjust margin to create space below header */
    }

    .slide-wrapper {
        flex-wrap: wrap; /* Allow images to wrap on smaller screens */
    }

    .slide-wrapper img {
        width: calc(50% - 1rem); /* Two images per row with space */
        margin: 0.5rem; /* Adjust margin between images */
    }

    main {
        padding-top: 6rem; /* Adjust padding top for main content */
    }

    .full-page {
        padding-top: 4rem; /* Adjust padding top for full-page sections */
        margin-top: 0; /* Remove negative margin */
    }

    .project {
        flex-direction: column; /* Stack project details vertically */
    }

    #resume img {
        max-width: 15rem; /* Adjust maximum width for resume image */
        height: auto;
    }

    #experience {
        padding-top: 10rem; /* Adjust padding top for experience section */
        margin-top: -8rem; /* Adjust negative margin */
    }

    #contact {
        padding: 3rem; /* Adjust padding for contact section */
    }

    /* Footer styles for mobile */
    footer {
        background-color: #222222;
        color: white;
        text-align: center;
        padding: 0.75rem; /* Adjust footer padding */
        width: 100%; /* Ensure the footer spans the full width of the viewport */
        position: fixed; /* Fixed position at the bottom */
        bottom: 0; /* Stick to the bottom */
        z-index: 1000; /* Ensure footer is above other content */
    }
}

